<footer>

    <div class="container">

        <div class="footer-container">

            <div class="footer-brand">
                <h4><img src="/assets/images/Logo/Small_Logo_P_G.png" alt="Small Logo Papy Gaming">Papy Gaming</h4>
                <p>L'hébergement gaming qui change la partie. Performance, fiabilité et support expert conçus pour les joueurs exigeants.</p>
            </div>

            <div class="footer-div Offres-Games">
                <div class="footer-items">

                    <h3>Offres Games</h3>
                    <ul>
                        <li><a href="/assets/html/pages/offres/offers-minecraft.html">Minecraft</a></li>
                        <li><a href="/assets/html/pages/offres/offers-eco_survival.html">Eco Survival</a></li>
                        <li><a href="/assets/html/pages/offres/offers-fivem.html">Five M</a></li>
                        <li><a href="/assets/html/pages/offres/all-offers.html">Autres Jeux</a></li>
                    </ul>

                </div>
            </div>

            <div class="footer-div Informations">

                <div class="footer-items">
                    <h3>Informations</h3>
                    <ul>
                        <li><a href="#">A propos de nous</a></li>
                        <li><a href="#">Nos partenaires</a></li>
                        <li><a href="#">Avis de nos client</a></li>
                        <li><a href="#">Nous contacter</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-div Contact-Reseaux">

                <div class="footer-items">
                    <h3>Contact & Réseaux</h3>
                    <ul>
                        <li><a href="mailto:contact@papy-gaming.rip" >contact@papy-gaming.rip</a></li>
                        <li><a href="https://discord.gg/yrDVY5s5vS" target="_blank">Notre Discord</a></li>              
                    </ul>
                </div>
                
                <!-- Discord -->
                <a href="https://discord.gg/TONINVITE" class="icon discord"">
                    <div class="tooltip">Discord</div>
                    <span><i class="fab fa-discord"></i></span>
                </a>

                <!-- TikTok -->
                <a href="https://www.tiktok.com/@toncompte" class="icon tiktok">
                    <div class="tooltip">TikTok</div>
                    <span><i class="fab fa-tiktok"></i></span>
                </a>

                <!-- YouTube -->
                <a href="https://www.youtube.com/@tonchaine" class="icon youtube">
                    <div class="tooltip">YouTube</div>
                    <span><i class="fab fa-youtube"></i></span>
                </a>

                <!-- Twitch -->
                <a href="https://www.twitch.tv/tonpseudo" class="icon twitch">
                    <div class="tooltip">Twitch</div>
                    <span><i class="fab fa-twitch"></i></span>
                </a>
            </div>
        </div>

        <div class="footer-copyright">
            <p>&copy; 2025 Papy Gaming. Tous droits réservés.</p>
        </div>

    </div>

</footer>