<footer>

    <div class="container">

        <div class="footer-container">

            <div class="footer-brand">
                <h4><img src="/assets/images/Logo/Small_Logo_P_G.png" alt="Small Logo Papy Gaming">Papy Gaming</h4>
                <p>L'hébergement gaming qui change la partie. Performance, fiabilité et support expert conçus pour les joueurs exigeants.</p>
            </div>

            <div class="footer-div Offres-Games">
                <h3>Offres Games</h3>
                <ul>
                    <li><a href="#">Minecraft</a></li>
                    <li><a href="#">Euro Truck Simulator 2</a></li>
                    <li><a href="#">Five M</a></li>
                    <li><a href="#">Autres Jeux</a></li>
                </ul>
            </div>

            <div class="footer-div Informations">
                <h3>Informations</h3>
                <ul>
                    <li><a href="#">A propos de nous</a></li>
                    <li><a href="#">Nos partenaires</a></li>
                    <li><a href="#">Avis de nos client</a></li>
                    <li><a href="#">Nous contacter</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>

            <div class="footer-div Contact-Reseaux">
                <h3>Contact & Réseaux</h3>
                <ul>
                    <li><a href="mailto:contact@papy-gaming.rip" >contact@papy-gaming.rip</a></li>
                    <li><a href="https://discord.gg/yrDVY5s5vS" target="_blank">Notre Discord</a></li>              
                </ul>
                
                <div class="icon discord">
                    <div class="tooltip">NDiscord</div>
                    <span><i class="fab fa-discord"></i></span>
                </div>

                <div class="icon tiktok">
                    <div class="tooltip">Tiktok</div>
                    <span><i class="fab fa-tiktok"></i></span>
                </div>

                <div class="icon youtube">
                    <div class="tooltip">Youtube</div>
                    <span><i class="fab fa-youtube"></i></span>
                </div>

                <div class="icon twitch">
                    <div class="tooltip">Twitch</div>
                    <span><i class="fab fa-twitch"></i></span>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <p>&copy; 2025 Papy Gaming. Tous droits réservés.</p>
        </div>

    </div>

</footer>