<header>

    <div class="container header-container">

        <!-- Logo et Titre du site avec redirection-->
        <a href="/index.html" class="header-branding">
            <img src="/assets/images/Logo/Small_Logo_P_G.png" alt="Small Logo Papy Gaming">
            <h1>Papy <span class="gradient-text">Gaming</span></h1>
        </a>

        <button class="mobile-menu-btn" id="mobile-menu-btn" aria-label="Ouvrir le menu">
            <span class="material-icons">menu</span>
        </button>

        <nav class="header-nav" id="main-nav">

            <a href="/index.html" class="nav-branding">
                <img src="/assets/images/Logo/Small_Logo_P_G.png" alt="Small Logo Papy Gaming">
                <h1>Papy <span class="gradient-text">Gaming</span></h1>
            </a>

            <ul>

                <li class="nav-home">
                    <a href="/index.html" class="active-header button-home">
                        Accueil
                    </a>
                </li>

                <li class="dropdown">
                    <a href="/assets/html/pages/offres/all-offers.html" class="active-header dropdown-toggle">
                        Nos offres Games
                        <span class="material-icons dropdown-icon">expand_more</span>
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a href="/assets/html/pages/offres/offers-minecraft.html">Minecraft</a></li>
                        <li><a href="/assets/html/pages/offres/offers-eco_survival.html">Eco Survival</a></li>
                        <li><a href="/assets/html/pages/offres/offers-fivem.html">Five M</a></li>
                        <li><a href="/assets/html/pages/offres/all-offers.html">Autres Jeux</a></li>
                    </ul>

                </li>

                <li class="dropdown">
                    <a href="#" class="active-header dropdown-toggle">
                        Plus d'informations 
                        <span class="material-icons dropdown-icon">expand_more</span>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="#">A propos de nous</a></li>
                        <li><a href="#">Nos partenaires</a></li>
                        <li><a href="#">Avis de nos client</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>

                </li>

                <li class="nav-dashboard">
                    <a href="#" class="active-dashboard button-dashboard">
                        DASHBOARD
                    </a>
                </li>

            </ul>

        </nav>

    </div>

</header>