@import url(/assets/css/base.css);

section { 
    padding: 6rem 0; 
}

.section-glass{
    background: var(--c-bg-card);
    border: 1px solid var(--c-border);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
    padding: 4rem;
}

.title-container{
    text-align: center;
    padding-bottom: 2rem;
    gap: 1rem;
}

.title-container h2{
    font-size: 3.5rem;
}

.title-container p{
    font-size: 1.05rem;
}

.faq-container{
    max-width: 60rem; 
    margin: 0 auto; 
}

.faq-item{
    background: var(--c-bg-card);
    border: 1px solid var(--c-border);
    border-radius: 15px;
    margin: 1rem;
}

.faq-item.is-open{
    border: 1px solid var(--c-border);
}

.faq-question {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    justify-content: space-between;
    cursor: pointer;

    border: 1px solid transparent;
    border-radius: 15px;
    transition: border-color 0.4s linear, transform 0.6s linear;
}

.faq-item.is-open .faq-question{
    border: 1px solid var(--c-border);
    border-radius: 15px;
    transform: translateY(-3.5px) translateX(-3.5px);
}

.faq-question span{
    font-size: 1.15rem;
    font-weight: 500;
}

.faq-icon {
    transition: transform 0.5s ease-out, color 0.4s ease;
}
.faq-item.is-open .faq-icon {
    transform: rotate(180deg);
    color: var(--c-accent-cyan);
}

.faq-answer {
    padding: 0 1.5rem;
    color: var(--c-text-secondary);
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    overflow: hidden;
    transition:
        max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        padding 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.faq-item.is-open .faq-answer {
    padding-top: 1.4rem;
    padding-bottom: 1.5rem;
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
    cursor: default;
}

.faq-answer p {
    line-height: 1.7;
}

@media (max-width: 625px) {
    section {
        display: flex;
    }
}